html {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
